:root {
  /* Rarities Colors */
  --common-color: rgb(94, 216, 50);
  --uncommon-color: rgb(162, 204, 94);
  --rare-color: rgb(50, 94, 216);
  --super-rare-color: rgb(61, 50, 216);
  --epic-color: rgb(207, 183, 0);
  --legendary-color: rgb(216, 50, 50);
  --shadow-color: rgb(114, 50, 216);

  /* Type Colors */
  --nature-color: rgb(94, 216, 50);
  --environment-color: rgb(141, 216, 50);
  --building-color: rgb(212, 117, 54);
  --material-color: rgb(216, 75, 50);
  --world-color: rgb(52, 142, 133);
  --weapon-color: rgb(50, 50, 50);
  --special-color: rgb(114, 50, 216);
  --tool-color: rgb(76, 76, 76);
}

/* Card Rarities */
.card .card-specs .card-rarity.Common {
  color: var(--common-color);
}

.card.Common {
  border: 5px solid var(--common-color);
}

.card.Common img {
  border: 1px solid var(--common-color);
}

.card .card-specs .card-rarity.Uncommon {
  color: var(--uncommon-color);
}

.card.Uncommon {
  border: 5px solid var(--uncommon-color);
}

.card.Uncommon img {
  border: 1px solid var(--uncommon-color);
}

.card .card-specs .card-rarity.Rare {
  color: var(--rare-color);
}

.card.Rare {
  border: 5px solid var(--rare-color);
}

.card.Rare img {
  border: 1px solid var(--rare-color);
}

.card .card-specs .card-rarity.SuperRare {
  color: var(--super-rare-color);
}

.card.SuperRare {
  border: 5px solid var(--super-rare-color);
}

.card.SuperRare img {
  border: 1px solid var(--super-rare-color);
}

.card .card-specs .card-rarity.Epic {
  color: var(--epic-color);
}

.card.Epic {
  border: 5px solid var(--epic-color);
}

.card.Epic img {
  border: 1px solid var(--epic-color);
}

.card .card-specs .card-rarity.Legendary {
  color: var(--legendary-color);
}

.card.Legendary {
  border: 5px solid var(--legendary-color);
}

.card.Legendary img {
  border: 1px solid var(--legendary-color);
}

.card .card-specs .card-rarity.Tool {
  color: var(--tool-color);
}

.card.Tool {
  border: 5px solid var(--tool-color);
}

.card.Tool img {
  border: 1px solid var(--tool-color);
}

.card .card-specs .card-rarity.Shadow {
  color: var(--shadow-color);
}

.card.Shadow {
  border: 5px solid var(--shadow-color);
}

.card.Shadow img {
  border: 1px solid var(--shadow-color);
}

/* Card Types */
.card .card-specs .card-type.Nature {
  color: var(--nature-color);
}

.card .card-specs .card-type.Environment {
  color: var(--environment-color);
}

.card .card-specs .card-type.Building {
  color: var(--building-color);
}

.card .card-specs .card-type.Material {
  color: var(--material-color);
}

.card .card-specs .card-type.Tool {
  color: var(--tool-color);
}

.card .card-specs .card-type.Weapon {
  color: var(--weapon-color);
}

.card .card-specs .card-type.World {
  color: var(--world-color);
}

.card .card-specs .card-type.Special {
  color: var(--special-color);
}

.placed-card.Common img {
  border: 1px solid var(--common-color);
}

.placed-card.Uncommon img {
  border: 1px solid var(--uncommon-color);
}

.placed-card.Rare img {
  border: 1px solid var(--rare-color);
}

.placed-card.SuperRare img {
  border: 1px solid var(--super-rare-color);
}

.placed-card.Epic img {
  border: 1px solid var(--epic-color);
}

.placed-card.Legendary img {
  border: 1px solid var(--legendary-color);
}

.placed-card.Tool img {
  border: 1px solid var(--tool-color);
}

.placed-card.Shadow img {
  border: 1px solid var(--shadow-color);
}
