/* Variables */
:root {
  /* Theme colors */
  --primary-color: #333;
  --secondary-color: #fff;
  --background-color: #f0f0f0;
  --text-color: #333;
  --text-muted-color: #777;
}

/* CSS styles for the game */
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

/* World */
#world {
  width: 100%;
  height: 95%;
  margin: 10px;
  border-radius: 12px;
  padding: 0;
  background-color: var(--background-color);
  overflow: scroll;
  position: relative;
}

/* Menu */
#menuContainer {
  position: relative;
  margin: 10px;
  width: 300px;
  height: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  border-radius: 12px;
}

#menu {
  position: absolute;
  top: 0;
  left: -220px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  background-color: var(--background-color);
  transition: left 0.3s ease-in-out;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu.show {
  left: 0;
}

#menuButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: var(--secondary-color);
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menuButton.closed {
  transition: 0.3s ease-in-out;
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: transparent;
  cursor: default;
  left: 30px;
}

#menuButton h1 {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 4vh;
  writing-mode: vertical-lr;
}

/* Sort Buttons */
#menu .sortButtons,
#filterContainer,
#cardContainer {
  width: 100%;
  height: 100%;
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 15px;
}

#menu .sortButtons {
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

#menu .sortButtons .sortButton {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  width: 25%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: row;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: 0.1s;
}

#menu .sortButtons .sortButton:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#menu #filterContainer {
  flex-direction: row;
  justify-content: center;
  flex: 0.5;
}

#menu #filterContainer label {
  font-size: 12px;
  vertical-align: top;
}

#menu #filterContainer .cardFilter {
  height: 100%;
  width: 20%;
}

/* Menu Card Container */
#cardContainer {
  flex: 20;
}

#cardContainer .card.disabled {
  cursor: default;
  transition: 0.3s;
  display: none;
}

.searchBox {
  width: 85%;
  height: 25px;
  margin: 0px;
  margin-top: 25px;
  padding: 0px 5px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  outline: none;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.searchBox svg {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  color: var(--primary-color);
}

.searchBox input {
  width: 95%;
  height: 100%;
  margin: 0px 5px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  outline: none;
  text-align: left;
}

.focused {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.focused svg {
  color: var(--secondary-color);
}

.focused input {
  color: var(--secondary-color);
}

/* Card */
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  min-height: 200px;
  width: 70%;
  padding: 10px;
  border: 5px solid var(--primary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  cursor: grab;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  gap: 5px;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
}

.card img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
}

.card h3 {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card p {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: var(--text-muted-color);
  text-overflow: ellipsis;
  overflow: hidden;
}

.card .quantity {
  margin: 0px;
  padding: 0px;
  font-weight: bolder;
}

/* Card Specs */
.card .card-specs {
  width: 100%;
  height: 30px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card .card-specs * {
  background-color: var(--background-color);
  font-size: 12px;
  margin: 0px;
  padding: 3px 8px;
  border-radius: 100vw;
  color: var(--text-muted-color);
  text-overflow: ellipsis;
  overflow: hidden;
}

.highlight-left,
.highlight-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  opacity: 0; /* Initial opacity */
}

.highlight-left {
  left: 0;
}

.highlight-right {
  right: 0;
}

/* Placed card */
.placed-card {
  position: absolute;
}

.placed-card img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0px;
  padding: 3px;
  -webkit-user-drag: none;
}

.placed-card h3 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
